<a href="https://colab.research.google.com/github/anny-0212/AI/blob/master/0305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!/usr/bin/python3
 
print("Hello, World!")

Hello, World!

第一章

In [18]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:anny
Hello, anny

In [19]:
a = input("請輸入：")
a

請輸入：haha

'haha'

In [20]:
type(a)

str

In [25]:
a=eval(input())
b=eval(input())
c=0
for i in range(a,b+1,1):
  c+=i
print(c)

5
10
45

In [27]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：20,50

(20, 50)

第二章

In [28]:
str1 = '這是字串'
print(str1)

這是字串

In [29]:
str2 = "這也是字串"
print(str2)

這也是字串

In [30]:
str3 = 'allows embedded "double" quotes'
print(str3)

allows embedded "double" quotes

In [31]:
#!/usr/bin/python
 
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

In [32]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str1 = 'Hello World!'

print("更新前的字串-> ", str1[:])
print("更新前的字串(也可以這樣寫)-> ", str1)
print("更新後的字串-> ", str1[:6] + 'Python!')

更新前的字串->  Hello World!
更新前的字串(也可以這樣寫)->  Hello World!
更新後的字串->  Hello Python!

In [33]:
str4=str1 + str2
print(str4)

Hello World!這也是字串

In [35]:

a='  Hello   '
b='  Python ! '

a+b

a*2

a[1:4]

"H" in a

"H" not in a

False

In [38]:
def reverse(s): 
    if len(s) == 0: 
        return s 
    else: 
        return reverse(s[1:]) + s[0] 
  
#s = "HappyHackingDay"
s = "BreakAllCTF{HappyHackingDay}"

print ("The original string  is : ",end="") 
print (s) 
  
print ("The reversed string(using recursion) is : ",end="") 
print (reverse(s))

The original string  is : BreakAllCTF{HappyHackingDay}
The reversed string(using recursion) is : }yaDgnikcaHyppaH{FTCllAkaerB

In [39]:
str1='happy python day'
str2='    Oh!   '
str4=str1 + str2
print(str4.capitalize())

mystr = 'python'
str4.find(pyth, beg=0, end=len(str4))

print(str4.encode('base64'))

Happy python day    oh!

NameError: ignored

In [40]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalpha())

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python"
print(str.isalpha())

False
True

In [41]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
str = "Python2019"
print(str.isalnum())

str = "Python"
print(str.isalnum())

str = "2019"
print(str.isalnum())

str = "Python 2019"
print(str.isalnum())

True
True
True
False

第二章-2

In [42]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [43]:
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

In [46]:
list1 = [21, 33, 14, 12, 32,98]

list1[1]
len(list1)
max(list1)
min(list1)
sum(list1)

210

In [47]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
 
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [48]:
a = 7//2
b = 7.0//2
c = 7//2.0

a,b,c

(3, 3.0, 3.0)

In [49]:
#!/usr/bin/python3
 
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

0 - a =  60 = 0011 1100(二進位)
0 - b =  13 = 0000 1101(二進位)
1 - c = a & b的值為： 12
2 - c = a | b的值為： 61
3 - c= a ^ b 的值為： 49
4 - c = ~a的值為： -61
5 - c = a << 2的值為： 240
6 - c = a >> 2的值為： 15

In [50]:
x = bin(36)
x

x = oct(36)
x

x = hex(255)
x

'0xff'

In [52]:
x=int('10',2)
x

x=int('10',16)
x

x=int('10',8)
x

8

In [53]:
#Round a number to only two decimals:

x = round(5.76543, 2)
print(x)

# Round to the nearest integer:

x = round(5.76543)
print(x)

5.77
6

In [54]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

第三章

In [55]:
import time  # 使用python標準函數庫的time模組{處理時間的函數}

date = time.localtime()	
print(date)

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=5, tm_hour=6, tm_min=33, tm_sec=4, tm_wday=3, tm_yday=65, tm_isdst=0)

In [56]:
import time

date = time.localtime()		#取得目前的日期時間
year = date[0]
month = date[1]
day = date[2]

day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	#判斷是否為閏年
  day_month[1] = 29

if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

65

In [58]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2020,03,05

SyntaxError: ignored

In [60]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：500
500 元

In [45]:
import torch 
torch._version_

AttributeError: ignored

第四章
range

In [1]:
list1=range(10)
print(list1)

range(0, 10)

In [2]:
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list1=range(-4,5)
print(list(list1))

[-4, -3, -2, -1, 0, 1, 2, 3, 4]

In [4]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [5]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [6]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [14]:
for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [15]:
for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [17]:
for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18

第五章

In [61]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

In [62]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [63]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31

In [64]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 11, height = 12):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

printArea() 
printArea(4, 2.5) # Positional arguments width = 4 and height = 2.5
printArea(height = 5, width = 3) # Keyword arguments width 
printArea(width = 1.2) # Default height = 2
printArea(height = 6.2) # Default widht = 1

width: 11 	height: 12 	area: 132
width: 4 	height: 2.5 	area: 10.0
width: 3 	height: 5 	area: 15
width: 1.2 	height: 12 	area: 14.399999999999999
width: 11 	height: 6.2 	area: 68.2

In [65]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def hello_3(greeting='Hello', name='world'): 
    print('{}, {}!'.format(greeting, name)) 

    
hello_3() 
hello_3('Greetings') 
hello_3('Greetings', 'universe')
hello_3(name='GGGGGGoood')

Hello, world!
Greetings, world!
Greetings, universe!
Hello, GGGGGGoood!

In [66]:
params = {'name': 'Sir Simon Rattle', 'greeting': 'To my Great Conductor'}
hello_3(**params)

To my Great Conductor, Sir Simon Rattle!

In [67]:
def print_params(*params): 
    print(params) 

print_params('Testing') 

print_params(1, 2, 3) 


# return的是tuple資料型態

#可和一般參數齊用

def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 1, 2, 3)
print_params_2('Nothing:')

('Testing',)
(1, 2, 3)
Params:
(1, 2, 3)
Nothing:
()

In [68]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=1, y=2, z=3) 

# return的是dict(字典資料型態)

def print_params_4(x, y, z=3, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(1, 2, 4, 5, 6, 7, foo=1, bar=2)

print_params_4(1, 2)

{'x': 1, 'y': 2, 'z': 3}
1 2 4
(5, 6, 7)
{'foo': 1, 'bar': 2}
1 2 3
()
{}

In [69]:
x = 111

def f1():
    x = 222
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x
    x =  x + 1
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

222
111
2
2
3
4
4

In [70]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

print(fib(10))

55

In [71]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 
print(fib(10))

55

In [72]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [73]:

hex(255)

hex(-42)

'-0x2a'

In [74]:
oct(8)

oct(-56)

'-0o70'

In [75]:
bin(3)

bin(-10)

'-0b1010'